<p>viewproduct works!</p>
<h1 class="text-center" style="padding: top 50px,bottom 50px; margin-top: 90px;">ProductList</h1>      
<div class="container">     
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>About</th>
          <th>Product Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.about}}</td>
          <td>{{product.price}}</td>
        </tr>
        <!-- <tr>
          <td>1</td>
          <td>t</td>
          <td>t4</td>
          <td>99</td>
          <td><button type="button" class="btn btn-primary" (click)="goToEditProduct" >Edit</button>&nbsp;&nbsp;

            <button type="button" class="btn btn-info">View</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
          </td>
        </tr> -->
      </tbody>
    </table>
     <div class="container test-center">
    <button type="button" class="btn btn-primary" (click)="gotolist()">Back</button>
   </div>
  </div>
  