<mat-toolbar color="accent">
    <a mat-icon-button class="example-icon " aria-label="Example icon-button with menu icon" 
    href="/">

      <mat-icon style="margin-right:18px;">menu_book</mat-icon>
      
    </a>
    <span>Prouduct Management</span>
    <span class="example-spacer"></span>
    <a mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    href="/productlist">
      <mat-icon style="margin-right: 27px;">view_list</mat-icon>
    </a>
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    
    href="/addproduct">
      <mat-icon>playlist_add</mat-icon>

    </a>
  </mat-toolbar>
  

